<%- include("../_header") -%> <%- include("../_backend") -%>

<header class="bg-white shadow">
  <div
    class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8 flex justify-between items-center"
  >
    <h1 class="text-xl font-bold leading-tight text-gray-900">
      Projects
    </h1>
    <a
      href="/projects/create"
      class="inline-flex items-center justify-center px-5 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teal-600 hover:bg-teal-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
    >
      New Project
    </a>
  </div>
</header>

<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <% if(projects.length) { %>
    <div class="flex flex-wrap -m-2">
      <% projects.forEach(project => { %>
      <div class="block w-1/3 overflow-hidden p-2">
        <div class="px-6 py-4 bg-white shadow-md rounded">
          <h3 class="font-bold text-xl mb-2">
            <%= project.name %>
          </h3>
          <div class="flex justify-between items-center">
            <% if(project.endpoints) { %>
            <p class="text-gray-700">
              <%= project.endpoints.length %> endpoint(s)
            </p>
            <% } else { %>
            <p class="text-gray-700">0 endpoint</p>
            <% } %>
            <a
              href="/projects/<%= project._id %>"
              class="text-teal-900 font-bold px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded ml-4"
              >Manage</a
            >
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <% } else { %>
    <div class="py-2 text-center flex items-center flex-col">
      <img src="images/no-data.svg" class="w-48" alt="" />
      <p class="text-xl py-4">
        You don't have any projects
      </p>
      <a class="text-teal-700 font-bold" href="/projects/create"
        >Create your first project</a
      >
    </div>
    <% } %>
  </div>
</main>

<%- include("../_footer") -%>
