extends ../layout.pug

block vars
  - var title="project"

block content
  a(href="/projects") go back

  h2 project: #{project.name}
  h3 endpoints
  a(href="/project/" + project._id + "/sync") sync
  if project.endpoints
    ul
      each endpoint in project.endpoints
        li
          a(href=`/api/${project._id}/${endpoint.slug}`)= `${endpoint.name} (${endpoint.slug})`
  else
    p Please click on sync to start